.home-page {
  width: 100%;
	min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.tounament-page {
  background-image: url('fonddecran.jpeg');
  background-size: cover;
  background-color: $dark-yellow;
}

.new-player {
  display: flex;
  flex-direction: row;
  align-items: center;

  .btn {
    color: #0554cb;
    font-size: 80px;
    margin: 0px 0px 23px 10px;
  }
}
