<%# CHICKEN SHOW CSS %>

<div class="home-page menu-page">
  <% @players.each do |player| %>
    <%= simple_form_for [@chicken, player] do |f| %>
        <%= f.input :points,
                    placeholder: 'Points du joueur',
                    :label => false,
                    autocomplete: "false" %>
        <%= f.button :submit,"Valider"%>
    <% end %>
  <% end %>
</div>
