<% while @iterator < @tournament.nbplayers %>
  <% @player = Player.new %>
  <%= simple_form_for(@player) do |f| %>

    <div class="form">
      <%= f.input :nickname,
                  label: "Nom du participant" %>
    </div>

    <div class="btn-submit">
      <%= f.button :submit,"Commencer le tournois" %>
    </div>
  <% end %>
<% end %>
<% end %>
