// FORMS STYLE

.forms-page {
  color: white;
  margin: 0;
  padding: 60px;
  height: 100%;
  background-color: $red;
  text-align: center;
  font-family: $my-font;

  h2 {
    font-family: $my-font;
    color: white;
    font-size: 90px;
    padding: 0px 0px 30px 0px;
  }
}

.form-control {
  background-color: $red;
  color: white;
  font-size: 25px;
}

.form-label {
  color: $red;
  font-size: 4px;
}

.form-text {
  color: white;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 5px solid white;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
  text-align: center;
  font-family: $my-font;
}

.form-actions {
  font-family: $my-font;
  font-size: 20px;
  color: white;
}

// EMAIL INPUT

#user_email {
  background-color: $red;
  border: 5px solid white;
  color: white;
  text-align: center;
}

#user_email:focus {
  border: 6px solid white;
}

// PASSWORD INPUT

#user_password {
  background-color: $red;
  border: 5px solid white;
  color: white;
  text-align: center;
}

#user_password:focus {
  border: 6px solid white;
}

// PASSWORD CONFIRMATION INPUT

#user_password_confirmation {
  background-color: $red;
  border: 5px solid white;
  color: white;
  text-align: center;
}

#user_password_confirmation:focus {
  border: 6px solid white;
}

// TOURNAMENT NAME INPUT

#tournament_name {
  background-color: #ffffff;
  border: 5px solid #0554cb;
  color: $blue;
  text-align: center;
}

#tournament_name:focus {
  border: 6px solid #0554cb;
}

// TOURNAMENT NBPLAYERS INPUT

#tournament_nbplayers {
  background-color: white;
  border: 5px solid #0554cb;
  color: $blue;
  text-align: center;
}

#tournament_nbplayers:focus {
  border: 6px solid #0554cb;
}

// // SUBMIT BUTTON

#submit-form-btn {
  font-family: $my-font;
  border-radius: 0px;
  background-color: white;
  border-color: white;
  border: none;
  padding: 0px 0px 0px 0px;
  margin: 40px;

  .btn {
    font-size: 40px;
    color: $red;
    border: none;
    padding: 0px;
  }
}

#submit-form-btn:focus-within {
  background-color: #B8000F;
  border-color: #B8000F;
  color: white;
}

// SHARED LINKS

p {
  color: grey;
  font-size: 20px;
  line-height: 18px;

  a {
    color: grey;
  }

  a:hover {
    color: white;
  }
}
